.home-button {
    color: black;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 7%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.login-button {
    position: fixed;
    top: 1%;
    right: 5%;
}

#page2{
    background: url("../assets/images/intro.png") no-repeat center center ;
    background-size: cover;
}

#page3{
    background: url("../assets/images/timeline.png") no-repeat center center ;
    background-size: cover;
}