.home-button {
    color: black;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 7%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.login-button {
    position: fixed;
    top: 1%;
    right: 5%;
}
