
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.home-button {
    color: black;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 7%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.login-button {
    position: fixed;
    top: 1%;
    right: 5%;
}

.section{
    font-family: 'nanumsquare';
}

#page3 {
    background-color: black;
    background: url("../assets/images/background1.jpg") no-repeat center center ;
    background-size: cover;
}

.ListGroup.item {
    font-size: 9;
}